/* BEGIN Header */
#custom-header {
  background-color : #222 !important;
  background-image : url("http://raw.github.com/oliversalzburg/superuser-dark-theme/master/img/cartographer.png") !important;
}

#hlinks a.mod-flag-indicator {
  color : #000 !important;
}

#hlinks a {
  color : #888 !important;
}

#hsearch .textbox {
  border-top  : 1px solid #333 !important;
  border-left : 1px solid #333 !important;
}

/* END Header */

body {
  background-color : #000 !important;
  color            : #888 !important;
}

.content-page {
  color : #888 !important;
}

.module {
  background-color : #000 !important;
  color            : #888 !important;
}

.module p {
  color : inherit !important;
}

.module.community-bulletin {
  background-color   : #21201D !important;
  border             : 1px solid #33322B !important;
  -moz-box-shadow    : 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 0 #000000 inset !important;
  -webkit-box-shadow : 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 0 #000000 inset !important;
  box-shadow         : 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 0 #000000 inset !important;
}

.newuser p {
  color : #DDD !important;
}

.tagged-interesting {
  background : #222 !important;
  background : -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(34, 34, 34, 1)), color-stop(35%, rgba(34, 34, 34, 1)), color-stop(100%, rgba(17, 17, 17, 1)));
}

.tagged-ignored {
  background-color : transparent !important;
}

.new-post-activity, #new-answer-activity {
  background-color : #222 !important;
  width            : 730px !important;
}

/* BEGIN Notice above footer */
.bottom-notice {
  text-align : center;
}

/* END Notice above footer */
/* BEGIN Footer */
#footer {
  background-color : #000 !important;
}

#footer-menu {
  text-align : center;
}

/* END Footer */

/* BEGIN Tabs */
#tabs a {
  background         : #000 !important;
  border             : 1px solid #000 !important;
  color              : #888 !important;
  margin             : 6px 8px 0 0 !important;
  padding            : 2px 11px 0 11px !important;
  -webkit-transition : 0.10s ease-in !important;
  -moz-transition    : 0.10s ease-in !important;
}

#tabs a.youarehere {
  background          : #000 !important;
  border              : 1px solid #888 !important;
  border-bottom-color : #000 !important;
  color               : #eee !important;
  margin-top          : 1px !important;
}

#tabs a:hover {
  background          : black !important;
  border              : 1px solid #888 !important;
  border-bottom-color : #000 !important;
  margin-top          : 7px !important;
}

#tabs a.youarehere:hover {
  margin-top : 1px !important;
}
#tabs .bounty-indicator-tab {
  line-height: 20px !important;
}
/* END Tabs */

/* BEGIN Post */
.post-tag,
.post-text .post-tag,
.wmd-preview a.post-tag {
  background-color : #000 !important;
  border           : 2px solid #05272D !important;
}

.post-tag:hover,
.post-text .post-tag:hover,
.wmd-preview a.post-tag:hover {
  border-radius : 0 !important;
}

.post-text a {
  color : #1086A4 !important;
}

.post-text img {
  /* Fix transparent backgrounds - makes dropshadows on screenshots look better */
  background-color   : #888 !important;
  -webkit-box-shadow : inset 0px 0px 10px rgba(0, 0, 0, 1) !important;
  box-shadow         : inset 0px 0px 10px rgba(0, 0, 0, 1) !important;
  /* Fix images being pushed outside of the bounds of a post */
  max-width          : 100% !important;
}

/* END Post */

/* BEGIN Make post menu (the text links) behave all weird like */
/* Also applies to some other links of the same flavor */
.comments-link,
.post-menu > a,
.edit-tags-wrapper > span > a {
  text-align         : center !important;
  -webkit-transition : 0.10s ease-in !important;
  -moz-transition    : 0.10s ease-in !important;
}

.comments-link:hover,
.post-menu > a:hover,
.edit-tags-wrapper > span > a:hover {
  background-color : #222 !important;
  border-bottom: 1px solid #1087A4;
}

/* END Make post menu (the text links) behave all weird like */

.answered-accepted {
  background-color : #3A5408 !important;
}

/* BEGIN Forms elements */
input, select, button {
  background-color : #000 !important;
  border           : 1px solid #333 !important;
  color            : #888 !important;
  -moz-appearance  : none !important;
}

input[type="checkbox"] {
  opacity : 0.6 !important;
}

textarea {
  background-color : #000 !important;
  border           : 1px solid #666 !important;
  color            : #FFF !important;
  opacity          : 0.5 !important;
  -moz-appearance  : none !important;
}
textarea.actual-edit-overlay {
  opacity : 0 !important;
}
/* END Forms elements */

.owner {
  background-color : #222 !important;
  background-image : url("http://raw.github.com/oliversalzburg/superuser-dark-theme/master/img/skewed_print.png");
}

.question-status {
  background-color : #222 !important;
}

code {
  background-color : #222 !important;
}

pre {
  background-color : #444 !important;
  border-left      : 5px solid #666 !important;
  color            : #FFF !important;
  opacity          : 0.5 !important;
}

pre > code {
  background-color : #444 !important;
  color            : #FFF !important;
}

blockquote {
  background-color : #222 !important;
  border-left      : 5px solid #333 !important;
}

.wmd-preview hr,
.post-text hr {
  background-color : #333 !important;
  color            : #333 !important;
}

.reviewable-answer,
.answer {
  /* Overrides the fade when opening a link */
  background-color : transparent !important;
}

.answer-hyperlink.deleted-answer,
.answer-link.deleted-answer,
.answer.deleted-answer,
.question-hyperlink.deleted-answer,
.question.deleted-answer,
.question-summary.deleted-answer,
.rep-breakdown-row.deleted-answer{
  background-color : #281212 !important;
  opacity          : 0.7 !important;
}

.ad502-room {
  background-color   : #222 !important;
  border-bottom      : 1px solid #333 !important;
  border-right       : 1px solid #333 !important;
  border-top         : 1px solid #222 !important;
  border-left        : 1px solid #222 !important;
  -moz-box-shadow    : 0px 1px 3px #222 !important;
  -webkit-box-shadow : 0px 1px 3px #222 !important;
  box-shadow         : 0px 1px 3px #222 !important;
}

.lastactivity-link {
  background-color : #000 !important;
}

.page-description {
  color : #666;
}

/* BEGIN Page number & Interval tabs */
.subtabs a,
.pager a .page-numbers {
  border             : 1px solid #222 !important;
  -webkit-transition : 0.10s ease-in !important;
  -moz-transition    : 0.10s ease-in !important;
}

.subtabs a:hover,
.pager a:hover .page-numbers {
  background-color : #000 !important;
  border           : 1px solid #1086A4 !important;
  color            : #fff !important;
}

.pager a .page-numbers.next,
.pager a .page-numbers.prev
.pager a:hover .page-numbers.next,
.pager a:hover .page-numbers.prev {
  border : 1px solid transparent !important;
}

.page-numbers.current,
.subtabs a.youarehere {
  background-color : #1086A4 !important;
  border           : 1px solid #1086A4 !important;
  color            : white !important;
  cursor           : default !important;
  font-weight      : bold !important;
}

/* END Page number & Interval tabs */

/* BEGIN Profile popup */
.profile-popup {
  background-color   : black !important;
  border             : 10px solid #222 !important;
  border-top         : 1px solid #222 !important;
  -moz-box-shadow    : 0px 10px 15px #000 !important;
  -webkit-box-shadow : 0px 10px 15px #000 !important;
  box-shadow         : 0px 10px 15px #000 !important;
}

.profile-popup .profile-stats table.profile-recent-summary thead tr,
.profile-popup .profile-gravatar {
  border-bottom : 2px solid #222 !important;
}

.profile-popup .profile-stats table {
  color : #666 !important;
}

/* END Profile popup */

/* BEGIN User and tag popup */
#tag-menu,
#user-menu {
  background-color   : #222 !important;

  -moz-border-radius : 0 !important;
  border-radius      : 0 !important;
  border             : none !important;

  -moz-box-shadow    : none !important;
  -webkit-box-shadow : none !important;
  box-shadow         : none !important;
}

#tag-menu {
  background-color : #000 !important;
  border           : 2px solid #05272D !important;
}

#user-menu .reputation-score {
  color : #E3E3E3 !important;
}

/* END User and tag popup */

.user-about-me {
  background-color : #222 !important;
  border-top       : 1px solid #1F1F1F !important;
  border-top       : 1px solid #222 !important;
  border-bottom    : 1px solid #222 !important;
}

.user-show-new .user-header .user-header-left .gravatar .reputation a {
  color               : #eee !important;
  -moz-text-shadow    : 0 0 5px #FFF !important;
  -webkit-text-shadow : 0 0 5px #FFF !important;
  text-shadow         : 0 0 5px #FFF !important;
}

.user-show-new .history-table > tbody > tr {
  border-top : 1px solid #222 !important;
}

.user-show-new .answer-summary {
  border-bottom : 1px solid #222 !important;
}

/* BEGIN User info Reputation tab */
.user-show-new .user-rep-full .rep-recent-row {
  background-color : #000 !important;
}

.user-show-new .user-rep-full .rep-table-row > td {
  border-bottom : dotted 1px #222 !important;
}

.highcharts-container svg > rect {
  fill : #000 !important;
}

/* END User info Reputation tab */

.mod-flair {
  -moz-text-shadow    : 0 0 5px #1086A4 !important;
  -webkit-text-shadow : 0 0 5px #1086A4 !important;
  text-shadow         : 0 0 5px #1086A4 !important;
}

#hlogo a, .envelope-on, .envelope-off, .vote-up-off, .vote-up-on, .vote-down-off, .vote-down-on, .star-on, .star-off, .comment-up-off, .comment-up-on, .comment-flag, .edited-yes, a.cc-wiki-link, .feed-icon, .statsarrow, .vote-accepted-off, .vote-accepted-on, .vote-accepted-bounty, .badge-earned-check, .delete-tag, .grippie, .expander-arrow-hide, .expander-arrow-show, .expander-arrow-small-hide, .expander-arrow-small-show, .anonymous-gravatar, .badge1, .badge2, .badge3, .add-interesting-tag-on, .add-interesting-tag-off, .fb-share, .twitter-share, .gp-share {
  background-image : url("http://raw.github.com/oliversalzburg/superuser-dark-theme/master/img/sprites.png") !important;
}

.askquestion li {
  margin-right : 0 !important;
}

.actual-edit-overlay {
  background-color        : #000 !important;
  color                   : #fff !important;
  -webkit-text-fill-color : #fff !important;
}

.tag-editor {
  background-color : #000 !important;
}

/* BEGIN Comments */
.comments {
  border-top : dotted 1px #555 !important;
  color      : #777 !important;
}

tr.comment > td {
  border-bottom : dotted 1px #222 !important;
}

tr.comment {
  -webkit-transition : 0.10s ease-in !important;
  -moz-transition    : 0.10s ease-in !important;
}

tr.comment:hover {
  background-color : #222 !important;
}

/* Move controls in comments to the right */
.comment-delete,
.comment-edit {
  float : right !important;
}

/* END Comments */

.bounty {
  background-color : #222 !important;
  color            : #fff !important;
}

.bounty-indicator, .bounty-indicator-tab, .bounty-award {
  color : #000 !important;
}

#question-header {
  border-bottom : 1px solid #ccc !important;
}

#question-header h1 {
  font-size           : 120% !important;
  line-height         : 20px !important;

  background-repeat   : no-repeat !important;
  padding-left        : 30px !important;

  background-position : -240px 0px !important;
  background-image    : url("http://raw.github.com/oliversalzburg/superuser-dark-theme/master/img/wmd-buttons.png") !important;
}

#question-header a {
  color : #ccc !important;
}

.question-summary {
  border-bottom : 1px dotted #666 !important;
}

div#userinfo {
  background-color : #222 !important;
}

#header #hmenus {
  width : 700px !important;
}

.subheader {
  border-bottom : 1px solid #888 !important;
  color         : #888 !important;
}
.subheader a {
  color: #888;
}

.user-gravatar32 img,
#user-browser img {
  background-color   : #888 !important;
  -webkit-box-shadow : inset 0px 0px 10px rgba(0, 0, 0, 1) !important;
  box-shadow         : inset 0px 0px 10px rgba(0, 0, 0, 1) !important;
}

.reputation-score {
  color : #666 !important;
}

span.feed-icon {
  background-color : #000 !important;
}

/* Post Flag bar */
#postflag-bar {
  border-top       : 2px solid #666 !important;
  background-color : #222 !important;
}

#postflag-bar .nav-button {
  background-color : #222 !important;
}

#postflag-bar .nav-button:hover {
  background-color : #666 !important;
}

#postflag-bar .nav-button:hover a {
  color : #FFF !important;
}

.welovestackoverflow {
  color         : #888 !important;
  border        : none !important;
  border-bottom : 3px solid #222 !important;
}

.lsep {
  color : #444 !important;
}

/* Ad block */
.everyonelovesstackoverflow {
  opacity            : 0.5 !important;
  -webkit-transition : 1s ease-in !important;
  -moz-transition    : 1s ease-in !important;
  /* Fix pesky line below image */
  line-height        : 10px !important;
}

.everyonelovesstackoverflow:hover {
  background-color   : #FFF !important;
  opacity            : 1 !important;
  -moz-box-shadow    : 0 0 18px rgba(255, 255, 255, 0.8) !important;
  -webkit-box-shadow : 0 0 18px rgba(255, 255, 255, 0.8) !important;
  box-shadow         : 0 0 18px rgba(255, 255, 255, 0.8) !important;
}

/* Popup (Close question, etc.) */
.popup {
  background-color : #000 !important;
  border           : 10px solid #222 !important;
}

.action-list .action-selected {
  background-color : #222 !important;
}

.popup-close a {
  background-color   : #222 !important;
  -moz-box-shadow    : 2px 2px 5px #222 !important;
  -webkit-box-shadow : 2px 2px 5px #222 !important;
  box-shadow         : 2px 2px 5px #222 !important;
}

/* BEGIN Timeline */
.timeline .tr-question,
.timeline .tr-answer,
.timeline .tr-revised,
.timeline .tr-accepted,
.timeline .tr-unaccepted,
.timeline .tr-state,
.timeline .timeline-day-header {
  background : #222;
}

.timeline .td-state,
.timeline .qacell {
  background-color : #222;
}

.timeline .event-multiplier {
  color : #666;
}

.timeline .td-revised {
  color: #D00;
}

/* END Timeline */

/* BEGIN Review */
.review-instructions b,
.review-instructions strong {
  color               : #FFF !important;
  -moz-text-shadow    : 0 0 1px #FFF !important;
  -webkit-text-shadow : 0 0 1px #FFF !important;
  text-shadow         : 0 0 1px #FFF !important;
}

.review-instructions-reason {
  background-color : #222 !important;
}

.review-actions input[type="button"] {
  -webkit-transition : 0.10s ease-in !important;
  -moz-transition    : 0.10s ease-in !important;
}

.review-actions input[type="button"]:hover {
  border : 1px solid #fff !important;
}

.review-bar-container .review-bar {
  border             : 1px solid #333 !important;
  background-color   : rgba(0, 0, 0, 0.95) !important;
  -webkit-box-shadow : 1px 1px 1px rgba(55, 55, 55, 0.8) !important;
}

.review-diff-bar {
  background-color : #000 !important;
  border-bottom    : 1px solid #333 !important;
}

table.full-diff td {
  border : none !important;
}

.stats-mainbar .task-stat-table {
  background-color : #111 !important;
}

.stats-mainbar .task-stat-table td {
  border           : 5px solid #000 !important;
  background-color : #000 !important;
}

.review-stats-count-current-user,
.review-stats-current-user {
  background-color : #222 !important;
}

.suggested-edit .body-diffs .full-diff .skip {
  background-color : #222 !important;
}

#revisions .markdown-diff .full-diff .inserted,
.suggested-edit .body-diffs .full-diff .inserted {
  background-color : #43443D !important;
}

#revisions .markdown-diff .full-diff .deleted,
.suggested-edit .body-diffs .full-diff .deleted {
  background-color : #604646 !important;
}

#revisions .markdown-diff .full-diff .skip {
  background-color : #222 !important;
}

#revisions .diff-choices a {
  border  : none !important;
  opacity : 0.5 !important;
}

#revisions .diff-choices a.selected,
#revisions .diff-choices a.selected:hover {
  border             : none !important;
  background-color   : #222 !important;
  opacity            : 1 !important;
  -webkit-transition : 0.10s ease-in !important;
  -moz-transition    : 0.10s ease-in !important;
}

.revision td {
  background-color : #352A2A !important;
}

.owner-revision td {
  background-color : #273133 !important;
}

.vote-revision td {
  background-color : #222 !important;
}

span.diff-add {
  -moz-box-shadow    : 0 0 5px #D1E1AD !important;
  -webkit-box-shadow : 0 0 5px #D1E1AD !important;
  box-shadow         : 0 0 5px #D1E1AD !important;
}

span.diff-delete {
  -moz-box-shadow    : 0 0 5px #E5BDB2 !important;
  -webkit-box-shadow : 0 0 5px #E5BDB2 !important;
  box-shadow         : 0 0 5px #E5BDB2 !important;
}

.revision-comment {
  background-color   : #222 !important;
  border             : 1px solid #333 !important;
  color              : #FFF !important;
  display            : inline-block !important;
  -moz-box-shadow    : 0 0 8px rgba(255, 255, 255, 0.4) !important;
  -webkit-box-shadow : 0 0 8px rgba(255, 255, 255, 0.4) !important;
  box-shadow         : 0 0 8px rgba(255, 255, 255, 0.4) !important;
}

tr.revision-comment {
  display : table-row !important;
}

/* END Review */

/* BEGIN Editor width Fix */
#post-form .wmd-container,
#post-form .wmd-input,
#post-form .wmd-preview {
  padding : 0 !important;
  width   : 100% !important;
}

.post-editor,
.wmd-button-bar {
  background-color : #000 !important;
  width            : 100% !important;
}

.grippie {
  background-color : #222 !important;
  border           : 1px solid #222 !important;
  /*width            : 100% !important;*/
  width            : auto !important;
  margin-right     : 0 !important;
}

/* END Editor width Fix */

/* More Editor */
.wmd-preview {
  border : 2px dotted #888 !important;
}

.form-item label {
  color : #666 !important;
}

.wmd-button-bar {
  background-color : #000 !important;
}

.wmd-button > span {
  background-image : url("http://raw.github.com/oliversalzburg/superuser-dark-theme/master/img/wmd-buttons.png") !important;
}

/* BEGIN WMD Image selection dialog (same style as Popup) */
.wmd-prompt-dialog {
  background-color : #000 !important;
  border           : 10px solid #222 !important;
}

/* END WMD Image selection dialog (same style as Popup) */

.tag-suggestions {
  background-color : #000 !important;
}

.tag-suggestions > div {
  -webkit-transition : 0.10s ease-in !important;
  -moz-transition    : 0.10s ease-in !important;
}

.tag-suggestions > div:hover,
.tag-suggestions > div:hover .more-info {
  background-color : #222 !important;
}

/* BEGIN Moderator stuff */
table.sorter {
  border : none !important;
}

table.sorter tbody td {
  color              : inherit !important;
  background-color   : #111 !important;
  -webkit-transition : 0.10s ease-in !important;
  -moz-transition    : 0.10s ease-in !important;
}
table.sorter tbody td.hot {
  color: #dc3071 !important;
}
table.sorter tbody td.supernova {
  color: #ff0d68 !important;
}

table.sorter tbody tr.odd td {
  background-color : #000 !important;
}

table.sorter tbody tr:hover td {
  background-color : #222 !important;
}

table.sorter th,
table.sorter tfoot td {
  background-color : transparent !important;
  border           : none !important;
}

.flagged-post {
  border-bottom : solid 1px #222 !important;
}

table.flagged-posts .relativetime.old {
  color: #666 !important;
}

.mod-page #content .content-page > ul > li {
  float           : left;
  list-style-type : none;
}

.mod-page #content li > a {
  display          : inline-block;
  padding          : 5px 10px;
  border           : 3px solid #222;
  border-radius    : 3px;
  margin           : 5px;
  background-color : #222;
}

.mod-page #content li > a:hover {
  background-color : #444;
  border-color     : #444;
  color            : #fff;
  text-decoration  : none;
}

.mod-page #content h3 {
  clear : left;
}

tr.msg {
  border-top : 1px solid #444 !important;
}

/* END Moderator stuff */

/* BEGIN Left-align page for huge monitors */
/*
#content,
#header {
  margin : 0 0 0 10px !important;
}
.footerwrap {
  margin : 0 !important;
}
*/
/* END Left-align page for huge monitors */

/* BEGIN Share box */
.share-tip {
  -moz-box-shadow    : 2px 2px 4px #222 !important;
  -webkit-box-shadow : 2px 2px 4px #222 !important;
  box-shadow         : 2px 2px 4px #222 !important;
  background-color   : #222 !important;
}

/* END Share box */