#custom-header {
  background-color : #222;
}

#hlinks a.mod-flag-indicator {
  color : #000;
}

#hlinks a {
  color : #888;
}

#hsearch .textbox {
  border-top  : 1px solid #333;
  border-left : 1px solid #333;
}

body {
  background-color : #000;
  color            : #888;
}
.module {
  background-color : #000;
  color            : #888;
}
.module.community-bulletin {
  background-color   : #21201D;
  border             : 1px solid #33322B;
  -moz-box-shadow     : 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 0 #000000 inset;
  -webkit-box-shadow : 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 0 #000000 inset;
  box-shadow         : 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 0 #000000 inset;
}
.newuser p {
  color : #DDD;
}

.tagged-interesting {
  background-color : #222;
}
.tagged-ignored {
  background-color : transparent;
}

.new-post-activity, #new-answer-activity {
  background-color : #222;
}

#footer {
  background-color : #000;
}

#tabs a {
  background : #000;
  border     : 1px solid #000;
  color      : #888;
  -webkit-transition: 0.10s ease-in;
  -moz-transition   : 0.10s ease-in;
}

#tabs a.youarehere {
  background          : #000;
  border              : 1px solid #888;
  border-bottom-color : #000;
  color               : #eee;
}

#tabs a:hover {
  background          : black;
  border              : 1px solid #888;
  border-bottom-color : #000;
}

.post-tag, .post-text .post-tag, .wmd-preview a.post-tag {
  background-color : #000;
  border           : 2px solid #05272D;
}
.answered-accepted {
  background-color : #3A5408;
}

input, select, button {
  background-color : #000;
  border           : 1px solid #333;
  color            : #888;
}
input[type="checkbox"] {
  opacity : 0.6;
}

textarea {
  background-color : #000;
  border           : 1px solid #666;
  color            : #FFF;
  opacity:0.5;
}

.owner {
  background-color : #282D2D;
}
.grippie {
  background-color : #222;
  border           : 1px solid #222;
}

.question-status {
  background-color : #222;
}

code {
  background-color : #222;
}

pre {
  background-color : #444;
  border-left      : 5px solid #666;
  color : #FFF;
  opacity:0.5;
}
pre > code {
  background-color : #444;
  color : #FFF;
}

blockquote {
  background-color : #222;
  border-left      : 5px solid #333;
}
.post-text hr {
  background-color: #333;
  color: #333;
}
.deleted-answer {
  background-color : #281212;
  opacity : 0.7;
}

.ad502-room {
  background-color   : #222;
  border-bottom      : 1px solid #333;
  border-right       : 1px solid #333;
  border-top         : 1px solid #222;
  border-left        : 1px solid #222;
  -moz-box-shadow    : 0px 1px 3px #222;
  -webkit-box-shadow : 0px 1px 3px #222;
  box-shadow         : 0px 1px 3px #222;
}

.lastactivity-link {
  background-color : #000;
}

.subtabs a:hover,
.subtabs a.youarehere {
  background-color : #000;
  color            : #fff;
}
.profile-popup {
  background-color: black;
  border: 10px solid #222;
  border-top:1px solid #222;
  /*
  -moz-box-shadow    : 0px 0px 5px #888;
  -webkit-box-shadow : 0px 0px 5px #888;
  box-shadow         : 0px 0px 5px #888;
  */
}
.user-about-me {
  background-color : #222;
  border-top       : 1px solid #1F1F1F;
  border-top       : 1px solid #222;
  border-bottom    : 1px solid #222;
}
.user-show-new .user-header .user-header-left .gravatar .reputation a {
  color : #eee;
  -moz-text-shadow    : 0 0 5px #FFF;
  -webkit-text-shadow : 0 0 5px #FFF;
  text-shadow         : 0 0 5px #FFF;
}
.mod-flair {
  -moz-text-shadow    : 0 0 5px #1086A4;
  -webkit-text-shadow : 0 0 5px #1086A4;
  text-shadow         : 0 0 5px #1086A4;
}

#hlogo a, .envelope-on, .envelope-off, .vote-up-off, .vote-up-on, .vote-down-off, .vote-down-on, .star-on, .star-off, .comment-up-off, .comment-up-on, .comment-flag, .edited-yes, a.cc-wiki-link, .feed-icon, .statsarrow, .vote-accepted-off, .vote-accepted-on, .vote-accepted-bounty, .badge-earned-check, .delete-tag, .grippie, .expander-arrow-hide, .expander-arrow-show, .expander-arrow-small-hide, .expander-arrow-small-show, .anonymous-gravatar, .badge1, .badge2, .badge3, .add-interesting-tag-on, .add-interesting-tag-off, .fb-share, .twitter-share, .gp-share {
  background-image : url('https://raw.github.com/oliversalzburg/superuser-dark-theme/master/sprites.png');
}

.tag-editor {
  background-color : transparent;
}

.comments {
  border-top : dotted 1px #555;
}

tr.comment > td {
  border-bottom : dotted 1px #222;
}

tr.comment {
  -webkit-transition: 0.10s ease-in;
  -moz-transition   : 0.10s ease-in;
}
tr.comment:hover {
  background-color : #222;
}

.bounty {
  background-color : #222;
  color            : #fff;
}
.bounty-indicator, .bounty-indicator-tab, .bounty-award {
  color : #000;
}

#question-header {
  border-bottom: 1px solid #ccc;
}
#question-header h1 {
  font-size: 120%;
  line-height: 20px;

  background-repeat: no-repeat;
  padding-left: 30px;

  background-position: -240px 0px;
  background-image: url('https://raw.github.com/oliversalzburg/superuser-dark-theme/master/wmd-buttons.png') !important;
}
#question-header a {
  color : #ccc;
}
.question-summary {
  border-bottom : 1px dotted #666;
}
.answer {
  /* Overrides the fade when opening a link */
  background : #000;
}

div#userinfo {
  background-color : #222;
}

.subheader {
  color : #888;
}

.reputation-score {
  color : #666;
}

/* Ad block */
.everyonelovesstackoverflow {
  opacity : 0.5;
  -webkit-transition: 1s ease-in;
  -moz-transition   : 1s ease-in;
  /* Fix pesky line below image */
  line-height : 10px;
}
.everyonelovesstackoverflow:hover {
  background-color : #FFF;
  opacity : 1;
  -moz-box-shadow     : 0 0 18px rgba(255, 255, 255, 0.8);
  -webkit-box-shadow : 0 0 18px rgba(255, 255, 255, 0.8);
  box-shadow         : 0 0 18px rgba(255, 255, 255, 0.8);
}

.comments {
  color : #777;
}

/* Popup (Close question, etc.) */
.popup {
  background-color : #000;
  border           : 10px solid #4C1028;
}

.action-list .action-selected {
  background-color : #222;
}

.popup-close a {
  background-color   : #4C1028;
  -moz-box-shadow    : 2px 2px 5px #4C1028;
  -webkit-box-shadow : 2px 2px 5px #4C1028;
  box-shadow         : 2px 2px 5px #4C1028;
}

/* Review */
.review-instructions b,
.review-instructions strong {
  color : #FFF;
  -moz-text-shadow    : 0 0 1px #FFF;
  -webkit-text-shadow : 0 0 1px #FFF;
  text-shadow         : 0 0 1px #FFF;
}
.review-actions input[type="button"] {
 -webkit-transition: 0.10s ease-in;
  -moz-transition   : 0.10s ease-in;
}
.review-actions input[type="button"]:hover {
  border : 1px solid #fff;
}

.review-bar-container .review-bar {
  border             : 1px solid #333;
  background-color   : rgba(0, 0, 0, 0.95);
  -webkit-box-shadow : 1px 1px 1px rgba(55, 55, 55, 0.8);
}

.review-diff-bar {
  background-color : #000;
  border-bottom: 1px solid #333;
}
table.full-diff td {
  border : none;
}
.stats-mainbar .task-stat-table {
  background-color : #111;
}
.stats-mainbar .task-stat-table td {
  border : 5px solid #000;
  background-color : #000;
}

.suggested-edit .body-diffs .full-diff .skip {
  background-color : #222;
}

#revisions .markdown-diff .full-diff .inserted,
.suggested-edit .body-diffs .full-diff .inserted {
  background-color : #43443D;
}
#revisions .markdown-diff .full-diff .deleted,
.suggested-edit .body-diffs .full-diff .deleted {
  background-color : #604646;
}
#revisions .markdown-diff .full-diff .skip {
  background-color : #222;
}
#revisions .diff-choices a {
  border: none;
  opacity : 0.5;
}
#revisions .diff-choices a.selected, 
#revisions .diff-choices a.selected:hover {  
  border: none;
  background-color : #222;
  opacity : 1;
  -webkit-transition: 0.10s ease-in;
  -moz-transition   : 0.10s ease-in;
}
.revision td {
  background-color: #352A2A;
}
.owner-revision td {
  background-color: #273133
}

span.diff-add {
  -moz-box-shadow    : 0 0 5px #D1E1AD;
  -webkit-box-shadow : 0 0 5px #D1E1AD;
  box-shadow         : 0 0 5px #D1E1AD;
}
span.diff-delete {
  -moz-box-shadow    : 0 0 5px #E5BDB2;
  -webkit-box-shadow : 0 0 5px #E5BDB2;
  box-shadow         : 0 0 5px #E5BDB2;
}
.revision-comment {
  background-color   : #222;
  border             : 1px solid #333;
  color              : #FFF;
  -moz-box-shadow     : 0 0 8px rgba(255, 255, 255, 0.4);
  -webkit-box-shadow : 0 0 8px rgba(255, 255, 255, 0.4);
  box-shadow         : 0 0 8px rgba(255, 255, 255, 0.4);
}

/* Editor width Fix */
#post-form .wmd-container,
#post-form .wmd-input,
#post-form .wmd-preview {
  width: 720px;
}
#post-form .wmd-button-bar {
  background-color : #000;
  width: 728px
}
.wmd-preview {
  border : 2px dotted #888;
}
/* More Editor */
.form-item label {
  color : #666;
}
.wmd-button-bar {
  background-color : #000;
}
.wmd-button > span {
  background-image : url('https://raw.github.com/oliversalzburg/superuser-dark-theme/master/wmd-buttons.png');
}
/* WMD Image selection dialog (same style as Popup) */
.wmd-prompt-dialog {
  background-color : #000;
  border           : 10px solid #4C1028;
}
.tag-suggestions {
  background-color : #000;
}
.tag-suggestions > div {
  -webkit-transition: 0.10s ease-in;
  -moz-transition   : 0.10s ease-in;
}
.tag-suggestions > div:hover,
.tag-suggestions > div:hover .more-info {
  background-color : #222;
}

/* Moderator stuff */
table.sorter {
  border : none;
}
table.sorter tbody td {
  color: inherit;
  background-color: #111;
  -webkit-transition: 0.10s ease-in;
  -moz-transition   : 0.10s ease-in;
}
table.sorter tbody tr.odd td {
  background-color: #000;
}
table.sorter tbody tr:hover td {
  background-color: #222;
}
table.sorter th,
table.sorter tfoot td {
  background-color : transparent;
  border : none;
}