#custom-header {
  background-color: #222;
}
#hlinks a.mod-flag-indicator {
  color : #000;
}
#hlinks a {
  color : #888;
}
#hsearch .textbox {
  border-top: 1px solid #333;
  border-left: 1px solid #333;
}
body {
	background-color : #000;
	color : #888;
}
.module.community-bulletin {
	background-color : #21201D;
	border : 1px solid #33322B;
	moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1),0 1px 0 #000000 inset;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1),0 1px 0 #000000 inset;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1),0 1px 0 #000000 inset;
}
.tagged-interesting {
	background-color: #2A2D2D;
}
.tagged-ignored {
  background-color : transparent;
}
.module {
	background-color : #000;
	color : #888;
}
.new-post-activity, #new-answer-activity {
	background-color : #222;	
}
#footer {
	background-color : #000;
}
#tabs a {
	background: #000;
	border: 1px solid #000;
	color: #888;
}
#tabs a.youarehere {
	background: #000;
	border: 1px solid #888;
	border-bottom-color: #000;
	color: #fff;
}
#tabs a:hover {
	background: black;
	border: 1px solid #888;
	border-bottom-color: #000;
}
.post-tag, .post-text .post-tag, .wmd-preview a.post-tag {
	background-color : #000;
	border: 2px solid #05272D;
}
.delete-tag:hover {
	opacity : 1.0;
}
.answered-accepted {
	background-color : #3A5408;
}
input, select, button {
	background-color: #000;
	color: #888;
}
textarea {
	background-color: #000;
	border : 1px solid #666;
	color: #888;
}
.owner {
	background-color : #282D2D;
}
.wmd-button-bar {
	background-color : #000;
}
.grippie {
	background-color: #222;
	border: 1px solid #222;
}
.question-status {
	background-color : #222;
}
code {
	background-color : #222;
}
pre {
	background-color : #222;
	border-left: 5px solid #333;
}

blockquote {
	background-color : #222;
	border-left: 5px solid #333;
}
.deleted-answer {
	background-color: #281212;
}
.ad502-room {
	background-color : #222;
	border-bottom: 1px solid #333;
	border-right: 1px solid #333;
	border-top: 1px solid #222;
	border-left: 1px solid #222;
	-moz-box-shadow: 0px 1px 3px #222;
	-webkit-box-shadow: 0px 1px 3px #222;
	box-shadow: 0px 1px 3px #222;
}
.lastactivity-link {
	background-color : #000;
}
.subtabs a:hover,
.subtabs a.youarehere {
	background-color: #000;
	color : #fff;
}
.user-about-me {
	background-color: #222;
	border-top: 1px solid #1F1F1F;
	border-top: 1px solid #222;
	border-bottom: 1px solid #222;
}
.module p {
	color : #fff;
}
.review-bar-container .review-bar {
	border: 1px solid #333;
	background-color: rgba(0, 0, 0, 0.95);
	-webkit-box-shadow: 1px 1px 1px rgba(55, 55, 55, 0.8);
}
#hlogo a, .envelope-on, .envelope-off, .vote-up-off, .vote-up-on, .vote-down-off, .vote-down-on, .star-on, .star-off, .comment-up-off, .comment-up-on, .comment-flag, .edited-yes, a.cc-wiki-link, .feed-icon, .statsarrow, .vote-accepted-off, .vote-accepted-on, .vote-accepted-bounty, .badge-earned-check, .delete-tag, .grippie, .expander-arrow-hide, .expander-arrow-show, .expander-arrow-small-hide, .expander-arrow-small-show, .anonymous-gravatar, .badge1, .badge2, .badge3, .add-interesting-tag-on, .add-interesting-tag-off, .fb-share, .twitter-share, .gp-share {
  background-image: url('https://raw.github.com/oliversalzburg/superuser-dark-theme/master/sprites.png');
}
.tag-editor {
  background-color : transparent;
}
.wmd-button > span {
  background-image: url('https://raw.github.com/oliversalzburg/superuser-dark-theme/master/wmd-buttons.png');
}
.comments {
  border-top : dotted 1px #555;
}
tr.comment > td {
  border-bottom: dotted 1px #222;
}
tr.comment:hover {
  background-color : #222;
}
.bounty {
  background-color : #222;
  color : #fff;
}
#question-header a {
  color : #fff;
}
.question-summary {
  border-bottom: 1px dotted #666;
}
div#userinfo {
  background-color:#222;
}

subheader {
  color: #888;
}
.reputation-score {
  color : #666;
}
.everyonelovesstackoverflow {
  opacity : 0.5; 
}
.comments {
  color : #777;
}

/* Popup (Close question, etc.) */
.popup {
  background-color : #000;
  border : 10px solid #4C1028;
}
.action-list .action-selected {
  background-color : #222;
}
.popup-close a {
  background-color   : #4C1028;
  -moz-box-shadow    : 2px 2px 5px #4C1028;
  -webkit-box-shadow : 2px 2px 5px #4C1028;
  box-shadow         : 2px 2px 5px #4C1028;
}

/* Review */
.review-diff-bar {
  background-color: #222;
}
table.full-diff td {
  border : none;
}
.suggested-edit .body-diffs .full-diff .skip {
  background-color : #222;
}
.suggested-edit .body-diffs .full-diff .inserted {
  background-color : #43443D;
}
.suggested-edit .body-diffs .full-diff .deleted {
  background-color : #604646;
}
span.diff-add {
  -moz-box-shadow    : 0 0 5px #D1E1AD;
  -webkit-box-shadow : 0 0 5px #D1E1AD;
  box-shadow         : 0 0 5px #D1E1AD;
}
span.diff-delete {
  -moz-box-shadow    : 0 0 5px #E5BDB2;
  -webkit-box-shadow : 0 0 5px #E5BDB2;
  box-shadow         : 0 0 5px #E5BDB2;
}
.revision-comment {
	background-color : #000;/*#21201D;*/
	border : 1px solid #33322B;
	color : #888;
	moz-box-shadow     : 0 0 8px rgba(255, 255, 255, 0.4);
	-webkit-box-shadow : 0 0 8px rgba(255, 255, 255, 0.4);
	box-shadow         : 0 0 8px rgba(255, 255, 255, 0.4);
}