#sidebar .module table#qinfo,#sidebar .module#ignoredTags,#sidebar .module#interesting-tags{width:100%!important}button,input,select,textarea{-moz-appearance:none!important}#sidebar .module .item-multiplier .item-multiplier-count,.item-multiplier .item-multiplier-count{font-weight:700!important}.item-multiplier{float:right!important}a:hover+.item-multiplier{float:none!important}.tag-cell{border-bottom:1px dotted #222!important}#ignoredTags .delete-tag,#interestingTags .delete-tag,.tag-editor .delete-tag{margin-top:5px!important}#ignoredTags .delete-tag,#interestingTags .post-tag{padding:3px!important}.topbar{background-color:#222!important;background-image:url(http://i.stack.imgur.com/uV1TZ.png)!important}.topbar .topbar-links a{color:#888!important}.topbar .topbar-links a.mod-flag-indicator{color:#000!important}.topbar #search input{border-top:1px solid #333!important;border-left:1px solid #333!important}#header #hmenus .nav li a{padding:6px 16px!important}.subheader{border-bottom:1px solid #333!important;color:#888!important}.subheader #tabs a{background:#000!important;border:1px solid #333!important;color:#888!important;margin:1px 8px 0 0!important;padding:10px 16px!important;-webkit-transition:.1s ease-in!important;transition:.1s ease-in!important}.subheader #tabs a.youarehere{border:1px solid #333!important;border-bottom-color:#000!important;color:#eee!important}.subheader #tabs a.bounty-indicator-tab{line-height:20px!important}.subheader #tabs a:hover{border:1px solid #333!important;background:#000!important;border-bottom-color:#000!important}#sidebar .module{background-color:#000!important;color:#888!important;padding:0!important}#sidebar .module table#qinfo td+td{text-align:right!important}#sidebar .module p{color:inherit!important}#sidebar .module.community-bulletin{background-color:transparent!important;border:none!important;box-shadow:none!important;text-shadow:1px 0 3px #1086a4!important}#sidebar .module.community-bulletin .bulletin-item-content a{border-left:3px solid #1086a4!important;display:block;padding-left:5px!important}#sidebar .module #ad502-rooms .ad502-room{background-color:#111!important;border:none!important;border-radius:0!important;box-shadow:none!important}#sidebar .module #ad502-rooms .ad502-room a img{opacity:.3!important;-webkit-transition:.1s ease-in!important;transition:.1s ease-in!important}#sidebar .module #ad502-rooms .ad502-room:hover a img{opacity:1!important}#sidebar .module .item-multiplier{float:right!important}#sidebar .module a:hover+.item-multiplier{float:none!important}#sidebar .everyonelovesstackoverflow{opacity:.5!important;-webkit-transition:1s ease-in!important;transition:1s ease-in!important;line-height:9px!important}#sidebar .everyonelovesstackoverflow:hover{background-color:#fff!important;opacity:1!important;box-shadow:0 0 18px rgba(255,255,255,.8)!important}#sidebar.show-votes .sidebar-linked .answer-votes,#sidebar.show-votes .sidebar-related .answer-votes{background-color:#111!important;color:#bbb!important}#sidebar.show-votes .sidebar-linked .answer-votes.answered-accepted,#sidebar.show-votes .sidebar-related .answer-votes.answered-accepted{background-color:#3a5408!important}.owner,.question-status{background-color:#222!important}#question-header{border-bottom:1px solid #333!important}#question-header h1{line-height:20px!important;background-repeat:no-repeat!important;padding-left:14px!important}#question-header h1:before{display:inline-block;width:20px;height:20px;content:"";margin-right:26px;margin-bottom:-3px;background-position:-240px 0!important;background-image:url(http://i.stack.imgur.com/HqdIJ.png)!important}#question-header h1 a.question-hyperlink{color:#eee!important;font-size:80%!important}.owner{background-image:url(http://i.stack.imgur.com/6Bmrf.png)}.answer,.reviewable-answer{background-color:transparent!important}.answer-hyperlink.deleted-answer,.answer-link.deleted-answer,.answer.deleted-answer,.question-hyperlink.deleted-answer,.question-summary.deleted-answer,.question.deleted-answer,.rep-breakdown-row.deleted-answer{background-color:#281212!important;opacity:.7!important}.answer{padding-top:6px!important}.comments{border-top:dotted 1px #555!important;color:#777!important}.comments tr.comment{-webkit-transition:.1s ease-in!important;-moz-transition:.1s ease-in!important}.comments tr.comment:hover{background-color:#222!important}.comments tr.comment>td{border-bottom:dotted 1px #222!important}.comments tr.comment .comment-delete,.comments tr.comment .comment-edit{float:right!important}.post-issue{margin-bottom:35px!important;position:inherit!important;width:100%!important;visibility:visible!important}.post-issue .post-issue-display{background-color:transparent!important;border:none!important;border-radius:0!important;opacity:1!important;position:inherit!important;padding:0 5px 2px}.post-issue .post-issue-display a{background-color:#222!important;display:inline-block!important;float:right!important;padding:5px 10px!important;opacity:.5!important}.post-issue .post-issue-display a:hover{opacity:1!important;text-decoration:none!important}pre,textarea{opacity:.5!important}.post-issue .post-issue-display:after{content:""!important;margin:0!important}.post-tag,.post-text .post-tag,.wmd-preview a.post-tag{background-color:#000!important;border:1px solid #05272d!important;border-radius:0!important;font-size:80%!important;padding:3px 5px!important;text-transform:uppercase!important}.post-tag:hover,.post-text .post-tag:hover,.wmd-preview a.post-tag:hover{border:1px solid #14a7c6!important}.post-text a{color:#1086a4!important}.post-text img{background-color:#888!important;box-shadow:inset 0 0 10px #000!important;max-width:100%!important}.comments-link,.edit-tags-wrapper>span>a,.post-menu>a{text-align:center!important;-webkit-transition:.1s ease-in!important;transition:.1s ease-in!important}.comments-link:hover,.edit-tags-wrapper>span>a:hover,.post-menu>a:hover{background-color:#222!important;border-bottom:1px solid #1087a4}code{background-color:#222!important}pre,pre>code{background-color:#444!important;color:#fff!important}pre{border-left:5px solid #666!important}blockquote{background-color:#222!important;border-left:5px solid #333!important}.post-text hr,.wmd-preview hr{background-color:#333!important;color:#333!important}.share-tip{box-shadow:2px 2px 4px #222!important;background-color:#222!important}.gravatar-wrapper-32,.gravatar-wrapper-48{background-color:transparent!important}#user-browser img,.user-gravatar32 .anonymous-gravatar,.user-gravatar32 img{background-color:#888!important;box-shadow:inset 0 0 10px #000!important;opacity:.5!important}#post-form .post-editor,#post-form .tag-editor,#post-form .wmd-button-bar,#post-form .wmd-container,#post-form .wmd-input,#post-form .wmd-preview{padding:0!important;width:100%!important;background-color:#000!important}#post-form .post-editor{margin-top:0!important}#post-form .wmd-button-bar{border:none!important;background-color:#000!important}#post-form .wmd-button-bar .wmd-button>span{background-image:url(http://i.stack.imgur.com/HqdIJ.png)!important}#post-form .form-item label{color:#666!important}#post-form .form-item label[for=title]{padding-top:4px}#post-form .grippie{background-color:#222!important;border:1px solid #222!important;width:auto!important;margin-right:0!important}#post-form .wmd-preview{border:2px dotted #222!important}#post-form .tag-editor{border:1px solid #222!important}.wmd-prompt-dialog{background-color:#000!important;border:10px solid #222!important}button,input,select{background-color:#000!important;border:1px solid #333!important;color:#888!important}input[type=button],input[type=submit]{background-color:#222!important;box-shadow:0 2px 1px rgba(0,0,0,.3),0 1px 0 rgba(66,66,66,.4) inset!important;-webkit-transition:.1s ease-in!important;transition:.1s ease-in!important}input[type=button]:hover,input[type=submit]:hover{background-color:#444!important;border:1px solid #888!important;color:#fff!important}input[type=checkbox]{opacity:.6!important}textarea{background-color:#000!important;border:1px solid #666!important;color:#fff!important}textarea.actual-edit-overlay{opacity:0!important}.pager a .page-numbers,.subtabs a{border:1px solid #222!important;-webkit-transition:.1s ease-in!important;transition:.1s ease-in!important;text-decoration:none!important}.pager a:hover .page-numbers,.subtabs a:hover{background-color:#000!important;border:1px solid #1086a4!important;color:#fff!important}.pager a .page-numbers .next,.pager a .page-numbers .prev,.pager a:hover .page-numbers .next,.pager a:hover .page-numbers .prev{border:1px solid transparent!important}.page-numbers.current,.subtabs a.youarehere{background-color:#1086a4!important;border:1px solid #1086a4!important;color:#fff!important;cursor:default!important;font-weight:700!important}.bottom-notice{text-align:center}#footer{background-color:#000!important}#footer #footer-menu{color:#333!important;text-align:center!important}.about-page .new-about-content-page h2.about-title{color:#ddd!important}.about-page .new-about-content-page .content-block,.about-page .new-about-content-page .qa-block,.about-page .new-about-content-page .user-info-rep{background-color:transparent!important;border:1px solid transparent!important}.ask-page .ask-mainbar{padding:0 20px!important}.ask-page #title{width:603px!important}.login-page .preferred-login{background-color:#222!important;margin:6px!important;box-shadow:none!important;transition:.1s ease-in!important}.login-page .openid_small_btn,.login-page .preferred-login{border:2px solid #444!important;-webkit-transition:.1s ease-in!important}.login-page .preferred-login:hover{margin:6px!important;box-shadow:0 0 15px 5px #444!important}.login-page .openid_small_btn{opacity:.5;margin:4px!important;box-shadow:none!important;transition:.1s ease-in!important}.login-page .openid_small_btn:hover{opacity:1;margin:4px!important;box-shadow:0 0 5px 3px #444!important}.login-page #openid_btns a{background-color:#000;background-image:url(http://i.stack.imgur.com/q7kl9.png)!important}.review-page .dashboard-item{border-bottom:1px dotted #222!important}.review-page .dashboard-item .dashboard-activity .dashboard-user{opacity:.5!important;-webkit-transition:.1s ease-in!important;transition:.1s ease-in!important}.review-page .dashboard-item:hover .dashboard-activity .dashboard-user{opacity:1!important}.review-page .task-stat-table{background-color:#111!important}.review-page .task-stat-table td{border:5px solid #000!important;background-color:#000!important}.review-page .review-stats-table .review-stats-count-current-user,.review-page .review-stats-table .review-stats-current-user{background-color:#222!important}.review-task-page .review-filter-popup{background-color:#222!important;border:1px solid #333!important;box-shadow:0 0 8px rgba(255,255,255,.4)!important}.review-task-page .review-bar-container .review-bar{border:1px solid #333!important;background-color:rgba(0,0,0,.95)!important;box-shadow:1px 1px 1px rgba(55,55,55,.8)!important}.review-task-page .review-bar-container .review-bar .review-instructions-reason,.review-task-page table.full-diff td.skip{background-color:#222!important}.review-task-page .review-bar-container .review-bar .review-instructions b,.review-task-page .review-bar-container .review-bar .review-instructions strong{color:#fff!important;text-shadow:0 0 1px #888!important}.review-task-page .diff-choices a{border:none!important;opacity:.5!important}.review-task-page .diff-choices a.selected,.review-task-page .diff-choices a.selected:hover,.review-task-page .diff-choices a:hover{border:none!important;background-color:#222!important;opacity:1!important;-webkit-transition:.1s ease-in!important;transition:.1s ease-in!important}.review-task-page table.full-diff td{border:none!important}.review-task-page table.full-diff td.inserted{background-color:#43443d!important}.review-task-page table.full-diff td.deleted{background-color:#604646!important}.review-task-page table.full-diff td>div{background-color:transparent!important}.review-task-page .post-text span.diff-add{box-shadow:0 0 5px #d1e1ad!important}.review-task-page .post-text span.diff-delete{box-shadow:0 0 5px #e5bdb2!important}.review-diff-bar{background-color:#000!important;border-bottom:1px solid #333!important}.revision-page tr.revision td{background-color:#352a2a!important}.revision-page tr.revision td .revision-comment{padding:2px 4px;background-color:#222!important;border:1px solid #333!important;color:#fff!important;display:inline-block!important;box-shadow:0 0 8px rgba(255,255,255,.4)!important}.revision-page tr.vote-revision td{background-color:#222!important}.revision-page tr.owner-revision td{background-color:#273133!important}.revision-page tr.revision-comment{display:table-row!important}.revision-page .diff-choices a{border:none!important;opacity:.5!important}.revision-page .diff-choices a.selected,.revision-page .diff-choices a.selected:hover,.revision-page .diff-choices a:hover{border:none!important;background-color:#222!important;opacity:1!important;-webkit-transition:.1s ease-in!important;transition:.1s ease-in!important}.revision-page table.full-diff td{border:none!important}.revision-page table.full-diff td.skip{background-color:#222!important}.revision-page table.full-diff td.inserted{background-color:#43443d!important}.revision-page table.full-diff td.deleted{background-color:#604646!important}.revision-page table.full-diff td>div{background-color:transparent!important}.revision-page .inline-diff span.diff-add,.revision-page .sidebyside-diff span.diff-add{box-shadow:0 0 5px #d1e1ad!important}.revision-page .inline-diff span.diff-delete,.revision-page .sidebyside-diff span.diff-delete{box-shadow:0 0 5px #e5bdb2!important}table.post-timeline tr[data-eventtype=answer] td,table.post-timeline tr[data-eventtype=review] td{background:#222!important}table.post-timeline tr.separator div{background-color:#333!important}table.post-timeline tr.deleted-event td,table.post-timeline tr.deleted-event-details td{background-color:#191314!important}table.post-timeline .event-comment,table.post-timeline td,table.post-timeline th{color:#888}table.post-timeline .event-comment{word-break:break-word}.mod-page .migrated{background-image:url(http://i.stack.imgur.com/bIOJc.png)!important}.mod-page table.sorter{border:none!important}.mod-page table.sorter tbody tr td{color:inherit!important;background-color:#111!important;-webkit-transition:.1s ease-in!important;transition:.1s ease-in!important}.mod-page table.sorter tbody tr td.hot{color:#dc3071!important}.mod-page table.sorter tbody tr td.supernova{color:#ff0d68!important}.mod-page table.sorter tbody tr.odd td{background-color:#000!important}.mod-page table.sorter tbody tr:hover td{background-color:#222!important}.mod-page table.sorter tfoot td,.mod-page table.sorter th{background-color:transparent!important;border:none!important}.mod-page .flagged-post{border-bottom:solid 1px #222!important}.mod-page tr.msg{border-top:1px solid #444!important}.mod-page table.flagged-posts tr.messageDivider>td{border-top:1px solid #222!important}.mod-page table.flagged-posts .relativetime.old{color:#666!important}.mod-page #content .content-page>ul>li{float:left;list-style-type:none}.mod-page #content .content-page>ul>li>a{display:inline-block;padding:5px 10px;border:3px solid #222;border-radius:3px;margin:5px;background-color:#222}.mod-page #content .content-page>ul>li>a:hover{background-color:#444;border-color:#444;color:#fff;text-decoration:none}body,body #content{color:#888!important}.mod-page #content h3{clear:left}body{background-color:#000!important}body #content{background-color:transparent}body #content .question-hyperlink{font-weight:400!important;font-family:Arial,Liberation Sans,DejaVu Sans,sans-serif!important}


.newuser p {
	color : #ddd !important;
}

.tagged-interesting {
	background : #181818 !important;
}

.tagged-ignored {
	background-color : transparent !important;
}

.new-post-activity, #new-answer-activity {
	background-color : #222 !important;
	width            : 730px !important;
}

.answered-accepted {
	background-color : #3a5408 !important;
}

.lastactivity-link {
	background-color : #000 !important;
}

.page-description {
	color : #666 !important;
}

/* BEGIN Profile popup */
.profile-popup {
	background-color   : black !important;
	border             : 10px solid #222 !important;
	border-top         : 1px solid #222 !important;
	-moz-box-shadow    : 0px 10px 15px #000 !important;
	-webkit-box-shadow : 0px 10px 15px #000 !important;
	box-shadow         : 0px 10px 15px #000 !important;
}

.profile-popup .profile-stats table.profile-recent-summary thead tr,
.profile-popup .profile-gravatar {
	border-bottom : 2px solid #222 !important;
}

.profile-popup .profile-stats table {
	color : #666 !important;
}

/* END Profile popup */

/* BEGIN User and tag popup */
#tag-menu,
#user-menu {
	background-color   : #222 !important;

	-moz-border-radius : 0 !important;
	border-radius      : 0 !important;
	border             : none !important;

	-moz-box-shadow    : none !important;
	-webkit-box-shadow : none !important;
	box-shadow         : none !important;
}

#tag-menu {
	background-color : #000 !important;
	border           : 2px solid #05272d !important;
}

#user-menu .reputation-score {
	color : #e3e3e3 !important;
}

/* END User and tag popup */

/* BEGIN Flag indicator */
/* TODO: .mod-flag-indicator is possibly unused */
.mod-flag-indicator.supernovabg {
	border : 1px solid #bd0a4d !important;
	color  : #000 !important;
}

.mod-flag-indicator.hotbg {
	border : 1px solid #b8285f !important;
	color  : #000 !important;
}

.mod-flag-indicator:hover {
	border          : 1px solid #f00 !important;
	text-decoration : none !important;
}

/* END Flag indicator */

/* BEGIN User profile stuff */

.user-about-me {
	background-color : #222 !important;
	border-top       : 1px solid #1f1f1f !important;
	border-top       : 1px solid #222 !important;
	border-bottom    : 1px solid #222 !important;
}

.user-show-new .user-header .user-header-left .gravatar .reputation a {
	color               : #eee !important;
	-moz-text-shadow    : 0 0 5px #fff !important;
	-webkit-text-shadow : 0 0 5px #fff !important;
	text-shadow         : 0 0 5px #fff !important;
}

.user-show-new .history-table > tbody > tr {
	border-top : 1px solid #222 !important;
}

.user-show-new .history-table > tbody > tr.deleted-answer {
	background-color : #281212 !important;
}

.user-tab-favorites table > tbody > tr.highlight-row,
.user-show-new .history-table > tbody > tr.highlight-row {
	background-color : transparent !important;
}

.user-show-new .history-table > tbody > tr td .reviewed-action {
	background-color : #222 !important;
}

.user-show-new .history-table > tbody > tr td .date_brick {
	background-color : #222 !important;
}

.user-show-new .answer-summary {
	border-bottom : 1px solid #222 !important;
}

#user-tab-responses table > tbody > tr .comments {
	border : none !important;
}

/* BEGIN User info Reputation tab */
.user-show-new .user-rep-full .rep-recent-row {
	background-color : #000 !important;
}

.user-show-new .user-rep-full .rep-table-row > td {
	border-bottom : dotted 1px #222 !important;
}

.highcharts-container svg > rect {
	fill : #000 !important;
}

/* END User info Reputation tab */
/* END User profile stuff */

.mod-flair {
	-moz-text-shadow    : 0 0 5px #1086a4 !important;
	-webkit-text-shadow : 0 0 5px #1086a4 !important;
	text-shadow         : 0 0 5px #1086a4 !important;
}

#hlogo a, .envelope-on, .envelope-off, .vote-up-off, .vote-up-on, .vote-down-off, .vote-down-on, .star-on, .star-off, .comment-up-off, .comment-up-on, .comment-flag, .edited-yes, a.cc-wiki-link, .feed-icon, .statsarrow, .vote-accepted-off, .vote-accepted-on, .vote-accepted-bounty, .badge-earned-check, .delete-tag, .grippie, .expander-arrow-hide, .expander-arrow-show, .expander-arrow-small-hide, .expander-arrow-small-show, .anonymous-gravatar, .badge1, .badge2, .badge3, .add-interesting-tag-on, .add-interesting-tag-off, .fb-share, .twitter-share, .gp-share {
	background-image : url("http://i.imgur.com/fbpNn24.png") !important; /* sprites */
}

.actual-edit-overlay {
	background-color        : #000 !important;
	color                   : #fff !important;
	-webkit-text-fill-color : #fff !important;
}

.bounty {
	background-color : #222 !important;
	color            : #fff !important;
}

.bounty-indicator, .bounty-indicator-tab, .bounty-award {
	color : #000 !important;
}

.question-summary {
	border-bottom : 1px dotted #282828 !important;
}

div#userinfo {
	background-color : #222 !important;
}

.reputation-score {
	color : #666 !important;
}

span.feed-icon {
	background-color : #000 !important;
}

/* Post Flag bar */
#postflag-bar {
	border-top       : 2px solid #666 !important;
	background-color : #222 !important;
}

#postflag-bar .nav-button {
	background-color : #222 !important;
}

#postflag-bar .nav-button:hover {
	background-color : #666 !important;
}

#postflag-bar .nav-button:hover a {
	color : #fff !important;
}

.welovestackoverflow {
	color         : #888 !important;
	border        : none !important;
	border-bottom : 3px solid #222 !important;
}

.lsep {
	color : #444 !important;
}

/* Popup (Close question, etc.) */
.popup {
	background-color : #000 !important;
	border           : 10px solid #222 !important;
}

.action-list .action-selected {
	background-color : #222 !important;
}

.popup-close a {
	background-color   : #222 !important;
	-moz-box-shadow    : 2px 2px 5px #222 !important;
	-webkit-box-shadow : 2px 2px 5px #222 !important;
	box-shadow         : 2px 2px 5px #222 !important;
}

.close-as-duplicate-pane .original-display .question,
.close-as-duplicate-pane .original-display .answer {
	width : auto !important;
}

.close-as-duplicate-pane .original-display .preview {
	border : 1px solid #222 !important;
}

.close-as-duplicate-pane .original-display .list-originals .list .item {
	border-bottom : 1px solid #222 !important;
}

.close-as-duplicate-pane .original-display .list-originals .list .item.hover,
.close-as-duplicate-pane .original-display .list-originals .list .item .stats {
	background-color : #111 !important;
}

.tag-suggestions {
	background-color : #000 !important;
}

.tag-suggestions > div {
	-webkit-transition : 0.10s ease-in !important;
	-moz-transition    : 0.10s ease-in !important;
}

.tag-suggestions > div:focus,
.tag-suggestions > div:hover,
.tag-suggestions > div:hover .more-info {
	background-color : #222 !important;
}

/* BEGIN System messages */
.sys-message-past, .sys-message .message-content, .sys-message-new {
	background-color : #222 !important;
}

.sys-message-past .message-content {
	background-color : #000 !important;
}

/* END System messages */


/* BEGIN Help Center */
#herobox {
	background-color : transparent !important;
	border           : 1px solid transparent !important;
}

#herobox #hero-content {
	background-color : transparent !important;
	background-image : none !important;
	border           : 3px solid transparent !important;
}

/* END Help Center*
