// Looking for more? notice block above the footer
.bottom-notice {
	text-align : center;
}

#footer {
	background-color : #000 !important;

	#footer-menu {
		color      : #333 !important;
		text-align : center !important;
	}
}
