// Modules are the boxes on the right hand side of the layout.
// Like:
//   - Featured on Meta
//   - Hot Meta Posts
//   - Hot Network Questions

#sidebar {
	.module {
		background-color : #000 !important;
		color            : #888 !important;
		padding          : 0 !important;

		// Like the "asked, viewed, active" table on the top
		table#qinfo {
			width : 100% !important;

			// The data in the second column
			/*
			.vt {
				text-align : right !important;
			}
			*/

			td + td {
				text-align : right !important;
			}
		}

		p {
			color : inherit !important;
		}

		&.community-bulletin {
			background-color : transparent !important;
			border           : none !important;
			box-shadow       : none !important;
			text-shadow      : 1px 0 3px #1086a4 !important;

			.bulletin-item-content a {
				border-left  : 3px solid #1086a4 !important;
				display      : block;
				padding-left : 5px !important;
			}
		}

		&#interesting-tags,
		&#ignoredTags {
			width : 100% !important;
		}

		// These are the counts of how often a certain tag is related or recent.
		// Float these counts to the right and pull them back on hover over the tag.
		.item-multiplier {
			float      : right !important;
			.item-multiplier-count {
				font-weight : bold !important;
			}
		}

		a:hover + .item-multiplier {
			float : none !important;
		}
	}

	// The vote boxes for the "linked" and "related" questions
	&.show-votes {
		.sidebar-linked .answer-votes,
		.sidebar-related .answer-votes {
			background-color : #111 !important;
			color            : #bbb !important;
			&.answered-accepted {
				background-color : #3a5408 !important;
			}
		}
	}
}
