@import "question";
@import "answer";
@import "comments";

// The links above a post to:
// - Display the timeline
// - Display deleted comments
.post-issue {
	margin-bottom : 35px !important;
	position      : inherit !important;
	width         : 100% !important;
	visibility    : visible !important;

	.post-issue-display {
		background-color : transparent !important;
		border           : none !important;
		/*border-bottom    : 1px solid #444;*/
		border-radius    : 0 !important;
		opacity          : 1 !important;
		position         : inherit !important;
		padding          : 0 5px 2px 5px;

		a {
			background-color : #222 !important;
			display          : inline-block !important;
			float            : right !important;
			padding          : 5px 10px !important;
			opacity          : 0.5 !important;

			&:hover {
				opacity         : 1 !important;
				text-decoration : none !important;
			}
		}

		&:after {
			content : "" !important;
			margin  : 0 !important;
		}
	}
}

// Tags under and in posts
.post-tag,
.post-text .post-tag,
.wmd-preview a.post-tag {
	@include tag();
}

.post-text {
	a {
		color : #1086a4 !important;
	}

	img {
		/* Fix transparent backgrounds - makes dropshadows on screenshots look better */
		background-color : #888 !important;
		box-shadow       : inset 0 0 10px rgba(0, 0, 0, 1) !important;
		/* Fix images being pushed outside of the bounds of a post */
		max-width        : 100% !important;
	}
}

// Links like: mod, share, edit, close, delete, flag, edit tags, add a comment
.comments-link,
.post-menu > a,
.edit-tags-wrapper > span > a {
	text-align : center !important;
	transition : 0.10s ease-in !important;

	&:hover {
		background-color : #222 !important;
		border-bottom    : 1px solid #1087a4;
	}
}

code {
	background-color : #222 !important;
}

pre {
	background-color : #444 !important;
	border-left      : 5px solid #666 !important;
	color            : #fff !important;
	opacity          : 0.5 !important;
}

pre > code {
	background-color : #444 !important;
	color            : #fff !important;
}

blockquote {
	background-color : #222 !important;
	border-left      : 5px solid #333 !important;
}

.wmd-preview hr,
.post-text hr {
	background-color : #333 !important;
	color            : #333 !important;
}
