// The main title of a question
#question-header {
	border-bottom : 1px solid #333 !important;

	h1 {
		line-height       : 20px !important;

		background-repeat : no-repeat !important;
		padding-left      : 14px !important;

		// Add a small question mark icon from the WMD button bar.
		&:before {
			display             : inline-block;
			width               : 20px;
			height              : 20px;
			content             : "";
			margin-right        : 26px;
			margin-bottom       : -3px;
			background-position : -240px 0px !important;
			// wmd-buttons
			background-image    : url("http://i.stack.imgur.com/HqdIJ.png") !important;
		}

		a.question-hyperlink {
			color     : #eee !important;
			font-size : 80% !important;
		}
	}
}

// The signature block of the OP.
.owner {
	background-color : #222 !important;
	// skewed_print
	background-image : url("http://i.stack.imgur.com/6Bmrf.png");
}

// The notices below a question. Like: migrated from, protected by, …
.question-status {
	background-color : #222 !important;
}
