// The signature block of the OP.
.owner {
	background-color : #222 !important;
	background-image : url("http://i.stack.imgur.com/6Bmrf.png"); /* skewed_print */
}

// The notices below a question. Like: migrated from, protected by, …
.question-status {
	background-color : #222 !important;
}
