// Just a regular old tag button
@mixin tag() {
	background-color : #000 !important;
	border           : 1px solid #05272d !important;
	border-radius    : 0 !important;
	font-size        : 80% !important;
	padding          : 3px 5px 3px 5px !important;
	text-transform   : uppercase !important;

	&:hover {
		border : 1px solid #14a7c6 !important;
	}
}

// These are the counts of how often a certain tag is related or recent.
// Float these counts to the right and pull them back on hover over the tag.
.item-multiplier {
	float : right !important;
	.item-multiplier-count {
		font-weight : bold !important;
	}
}

a:hover + .item-multiplier {
	float : none !important;
}

// The cells on the Tags page
.tag-cell {
	border-bottom : 1px dotted #222 !important;
}

// Tag deletion button.
.tag-editor .delete-tag,
#interestingTags .delete-tag,
#ignoredTags .delete-tag {
	margin-top : 5px !important;
}

// We also fix a 2-pixel padding issue on the tags here. This is introduced by the delete button above.
#interestingTags .post-tag,
#ignoredTags .delete-tag {
	padding : 3px !important;
}
