@import "header";
@import "tabs";
@import "modules";
@import "post";
@import "footer";

body {
	background-color : #000 !important;
	color            : #888 !important;

	#content {
		background-color : transparent;
		color            : #888 !important;

		// The headers that link to questions, like on the front page
		.question-hyperlink {
			font-weight : normal !important;
			font-family : Arial, Liberation Sans, DejaVu Sans, sans-serif !important;
		}
	}
}